body{
    background-color: black;
    color: goldenrod;
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 5px 5px 20px goldenrod;
}
img{
    box-shadow: goldenrod 10px 10px 25px;
    border-radius: 50%;
    height: 700px;
    width: 700px;
}
.main{
    text-align: center;
}
@media screen and  (max-width: 400px) {
    img{
        box-shadow: goldenrod 10px 10px 25px;
        border-radius: 50%;
        height: 300px;
        width: 300px;
    }
    .main{
        text-align: left;
        margin-left: 5px;
    }
    h1{
        text-align: center;
    }
    
}